Package: privacyidea-ucs
Version: 2.2~dev0
Architecture: all
Maintainer: NetKnights GmbH  <info@netknights.it>
Installed-Size: 45
Depends: privacyidea-venv, mysql-server
Section: admin
Priority: optional
Description: Config files to run privacyIDEA on Univention Corporate Server
 This is a meta package to run privacyIDEA on UCS.
 It installs the necessary database, sets up the system and creates the
 webserver files.
