<div class="panel panel-heading" ng-controller="systemAddonController">
<form name="formImportSubscription" role="form" validate>
    <div class="text-left">
        <button class="btn btn-primary" ng-file-select
                ng-file-change="upload($files)">Upload Subscription File
        </button>
    </div>
    <div class ng-show="subscription.subscription <= 10">
        Please order your subscription file at
        <a target="extern" href="http://netknights.it/privacyidea4ucs">
        NetKnights GmbH</a>.
    </div>
    <div class="text-left">
        SystemID: {{ subscription.systemid }}<br>
        Customer: {{ subscription.customername }} |
        Subscription: <b ng-show="subscription.subscription != 0"
            >{{ subscription.subscription }}</b>
        <b ng-show="subscription.subscription == 0">unlimited</b>|
        Support Level: <b>{{ subscription.supportlevel }}</b>
    </div>
</form>
</div>
